.zhihu-target-content {
  margin-bottom: 10px;

  word-wrap: break-word;

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 500px;
  }

  p {
    word-wrap: break-word;
  }
  
  &__collapse {
    height: 100px;

    overflow: hidden;
  }
}
