<button mat-icon-button color="accent" class="window-button" (click)="minimize()">
	<mat-icon class="window-button-mat-icon-size" aria-label="minimize">call_received</mat-icon>
</button>
<button mat-icon-button color="accent" class="window-button" (click)="switchMaximize()">
	<mat-icon class="window-button-mat-icon-size" aria-label="switchMaximize">favorite</mat-icon>
</button>
<button mat-icon-button color="accent" class="window-button" (click)="close()">
	<mat-icon class="window-button-mat-icon-size" aria-label="close">highlight_off</mat-icon>
</button>
