$size: 18px;

.window-button {
  width: 25px;
  height: 25px;
  margin-right: 5px;

  line-height: 25px;

  -webkit-app-region: no-drag;
}

.window-button-mat-icon-size {
  width: $size;
  height: $size;

  font-size: $size;
  line-height: $size !important;
}
